/* Make icon after external links in the navbar less obvious */
.nav-link.nav-external::after {
    opacity: 0.4;
}

/* Make links in top bar bigger */
@media (min-width:960px) {

    .nav-item,
    .btn.nav-item {
        font-size: 1.1rem;
    }
}

/* AiiDA sidebar */
div.sbar-aiida {
    text-align: left;
    border-bottom: 1px solid var(--pst-color-border);
    margin-top: 2rem;
    padding-bottom: 2rem;
}

div.sbar-aiida span.tagline {
    font-size: 1.4rem;
    font-weight: 700;
}

svg.abstract-network {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.feature_shortlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-column-gap: 0.5rem;
}

div.feature_shortlist p.feature_item {
    font-size: 1rem;
    color: var(--pst-color-text-muted);
}

div.feature_shortlist p.feature_item a {
    margin-left: 0.15em;
}

div.sbar-aiida div.cite {
    margin-top: 1rem;
    font-size: 0.75rem;
}

/* improve ablog postlist */
.postlist .ablog-post-expand {
    border-bottom: 1px solid var(--pst-color-border);
    padding-bottom: 1.15rem;
}

.postlist .ablog-post:last-child {
    margin-bottom: 2rem;
}

.ablog-post-title {
    font-weight: bold;
}

#navbar-icon-links i.fa-square-twitter::before {
    color: #646464;
}

/* Styled images with shadow */
img.img-shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
